@model BasketViewModel

    @if (Model.orders.Count != 0){
<div class="row p-4">
    @foreach (var order in Model.orders)
    {

        <div class="col-3">
            <div class="card mb-3">
                <h3 class="card-header">@order.ProductName</h3>
                <figure class="mb-4"><img class="img-fluid rounded" src="~/Images/@order.ProductImage" alt="..." style="height:300px; width:500px"></figure>
               
                <ul class="list-group list-group-flush">

          
                    <li class="list-group-item p-0" style="display:flex; justify-content:space-between; align-items:center">
                        <div><h3>@order.ProductPrice$</h3></div>

                        <div>
                                <button type="button" class="btn btn-primary" id="ModalButton-@order.RowGuid" onclick="openBasketModal('@order.RowGuid')">
                                    Update
                                </button>
                        <button class="btn btn-danger"><a class="nav-link active" asp-controller="Order" asp-action="RemoveOrder" asp-route-id ="@order.RowGuid">Remove</a></button>
                    </div>
                    </li>

                </ul>

            </div>
        </div>
            <div class="modal" id="Modal1-@order.RowGuid" style="display:none">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <img class="img-fluid rounded" alt="..." style="height:500px; width:100%" id="ModalImage" src="~/Images/@order.ProductImage">
                        <form method="post" style="padding:10px" asp-controller="Order" asp-action="UpdateOrder">
                            <fieldset>

                                <fieldset>
                                    <legend class="mt-4">Size</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.Size" asp-for="@order.Details.Size" id="SizeOptions-Large-@order.RowGuid" value="Large">
                                        <label class="form-check-label" for="SizeOptions-Large-@order.RowGuid">
                                            Large
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.Size" asp-for="@order.Details.Size" id="SizeOptions-Medium-@order.RowGuid" value="Medium">
                                        <label class="form-check-label" for="SizeOptions-Medium-@order.RowGuid">
                                            Medium
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.Size" asp-for="@order.Details.Size" id="SizeOptions-Small-@order.RowGuid" value="Small">
                                        <label class="form-check-label" for="SizeOptions-Small-@order.RowGuid">
                                            Small
                                        </label>
                                    </div>


                                </fieldset>

                                <fieldset>
                                    <legend class="mt-4">Drink</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.ColdOrHot" asp-for="@order.Details.ColdOrHot" id="DrinkOptions-Iced-@order.RowGuid" value="Iced">
                                        <label class="form-check-label" for="DrinkOptions-Iced-@order.RowGuid">
                                            Iced
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.ColdOrHot" asp-for="@order.Details.ColdOrHot" id="DrinkOptions-Normal-@order.RowGuid" value="Normal">
                                        <label class="form-check-label" for="DrinkOptions-Normal-@order.RowGuid">
                                            Normal
                                        </label>
                                    </div>

                                </fieldset>
                                <fieldset>
                                    <legend class="mt-4">Would you like more caffein ?</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.MoreCaffein" asp-for="@order.Details.MoreCaffein" id="CaffeinOptions-Yes-@order.RowGuid" value="true">
                                        <label class="form-check-label" for="CaffeinOptions-Yes-@order.RowGuid">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.MoreCaffein" asp-for="@order.Details.MoreCaffein" id="CaffeinOptions-No-@order.RowGuid" value="false">
                                        <label class="form-check-label" for="CaffeinOptions-No-@order.RowGuid">
                                            No
                                        </label>
                                    </div>

                                </fieldset>

                                <div>
                                    <label for="Note" class="form-label mt-4">Note</label>
                                    <textarea class="form-control" id="Note" rows="3"  name="orderDetails.Note"  asp-for="@order.Details.Note" placeholder="Is there anything we need to know ?"></textarea>
                                </div>


                                <input type="hidden" id="MenuIdInput" name="orderDetails.OrderId" asp-for="@order.OrderId" />
                                <div class="mt-2" style="display:flex; justify-content:space-between;">
                                <button type="submit" class="btn btn-primary" id="modalButton">Update</button>
                                <div class="border rounded" style="display:flex">
                                    <a asp-controller="Order" asp-action="AddMore">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                                        </svg>

                                        </a>
                                    <h4>@order.ProductCount</h4>

                                        <a asp-controller="Order" asp-action="AddMore" asp-route-guid ="@order.RowGuid">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                        </svg>
                                        </a>

                                </div>
                                </div>
                                
                            </fieldset>
                        </form>
                        <button type="button" class="close" onclick="closeModal()">Kapan</button>
                    </div>
                </div>
            </div>

    }

        <a asp-controller="Payment" asp-action="Index"><button class="btn btn-success col-12">Confirm Basket</button></a>

 

</div>


    }





<script src="~/lib/jquery/dist/MyScript.js"></script>
