@model BasketViewModel

    @if (Model != null){
<div class="row p-4">
    @foreach (var order in Model.orders)
    {

        <div class="col-3">
            <div class="card mb-3">
                <h3 class="card-header">@order.ProductName</h3>
                <figure class="mb-4"><img class="img-fluid rounded" src="~/Images/@order.ProductImage" alt="..." style="height:300px; width:500px"></figure>
               
                <ul class="list-group list-group-flush">

          
                    <li class="list-group-item p-0" style="display:flex; justify-content:space-between; align-items:center">
                        <div><h3>@order.ProductPrice$</h3></div>

                        <div>
                                <button type="button" class="btn btn-primary" id="ModalButton-@order.OrderId" onclick="openBasketModal('@order.OrderId')">
                                    Update
                                </button>
                        <button class="btn btn-danger"><a class="nav-link active" asp-controller="Order" asp-action="RemoveOrder" asp-route-id ="@order.OrderId">Remove</a></button>
                    </div>
                    </li>

                </ul>

            </div>
        </div>
            <div class="modal" id="Modal1-@order.OrderId" style="display:none">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <img class="img-fluid rounded" alt="..." style="height:500px; width:100%" id="ModalImage" src="~/Images/@order.ProductImage">
                        <form method="post" style="padding:10px">
                            <fieldset>

                                <fieldset>
                                    <legend class="mt-4">Size</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.Size" asp-for="@order.Details.Size" id="SizeOptions-Large-@order.OrderId" value="Large">
                                        <label class="form-check-label" for="SizeOptions-Large-@order.OrderId">
                                            Large
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.Size" asp-for="@order.Details.Size" id="SizeOptions-Medium-@order.OrderId" value="Medium">
                                        <label class="form-check-label" for="SizeOptions-Medium-@order.OrderId">
                                            Medium
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.Size" asp-for="@order.Details.Size" id="SizeOptions-Small-@order.OrderId" value="Small">
                                        <label class="form-check-label" for="SizeOptions-Small-@order.OrderId">
                                            Small
                                        </label>
                                    </div>


                                </fieldset>

                                <fieldset>
                                    <legend class="mt-4">Drink</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.ColdOrHot" asp-for="@order.Details.ColdOrHot" id="DrinkOptions-Iced-@order.OrderId" value="Iced">
                                        <label class="form-check-label" for="DrinkOptions-Iced-@order.OrderId">
                                            Iced
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.ColdOrHot" asp-for="@order.Details.ColdOrHot" id="DrinkOptions-Normal-@order.OrderId" value="Normal">
                                        <label class="form-check-label" for="DrinkOptions-Normal-@order.OrderId">
                                            Normal
                                        </label>
                                    </div>

                                </fieldset>
                                <fieldset>
                                    <legend class="mt-4">Would you like more caffein ?</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.MoreCaffein" asp-for="@order.Details.MoreCaffein" id="CaffeinOptions-Yes-@order.OrderId" value="true">
                                        <label class="form-check-label" for="CaffeinOptions-Yes-@order.OrderId">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderDetails.MoreCaffein" asp-for="@order.Details.MoreCaffein" id="CaffeinOptions-No-@order.OrderId" value="false">
                                        <label class="form-check-label" for="CaffeinOptions-No-@order.OrderId">
                                            No
                                        </label>
                                    </div>

                                </fieldset>

                                <div>
                                    <label for="Note" class="form-label mt-4">Note</label>
                                    <textarea class="form-control" id="Note" rows="3"  name="orderDetails.Note"  asp-for="@order.Details.Note" placeholder="Is there anything we need to know ?"></textarea>
                                </div>


                                <input type="hidden" id="MenuIdInput" name="orderDetails.OrderId" asp-for="@order.OrderId" />

                                <button type="submit" class="btn btn-primary" id="modalButton">Update</button>
                            </fieldset>
                        </form>
                        <button type="button" class="close" onclick="closeModal()">Kapan</button>
                    </div>
                </div>
            </div>

    }

 

</div>


    }





<script src="~/lib/jquery/dist/MyScript.js"></script>
